<a href="https://colab.research.google.com/github/CHenriquezG/Minor-Machine-Learning-test/blob/main/ProyectoML-ClaudioHneriquez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Obtain**
nombre:Claudio Henriquez Guzm√°n





https://www.cis.fordham.edu/wisdm/dataset.php

In [18]:
# Cargar las librerias
from numpy import dstack
from pandas import read_csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# para cargar los datos se uso las librerias de google drive para una mejor carga
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

en este proceso los datos se obtuvieron en la pagina de WISDM: WIreless Sensor Data Mining de la version 1.1 en cual contiene 1.098.207 columnas y de 36 participantes

sus atributos son los siguientes:
 usuario
actividad, 
tiempo, 
aceleracion-x, 
aceleracion-y, 
aceleracion-z

In [66]:
dataset=pd.read_table('/content/drive/MyDrive/ml/WISDM_ar_v1.1_raw.txt',sep=",",
                      header=None,
                      names=["user","activity","timestamp","x-acceleration","y-accel","z-accel"])
dataset

,user,activity,timestamp,x-acceleration,y-accel,z-accel
0,33,Jogging,49105962326000,-0.694638,12.680544,0.50395286;
1,33,Jogging,49106062271000,5.012288,11.264028,0.95342433;
2,33,Jogging,49106112167000,4.903325,10.882658,-0.08172209;
3,33,Jogging,49106222305000,-0.612916,18.496431,3.0237172;
4,33,Jogging,49106332290000,-1.184970,12.108489,7.205164;
...,...,...,...,...,...,...
1098199,19,Sitting,131623331483000,9.000000,-1.570000,1.69;
1098200,19,Sitting,131623371431000,9.040000,-1.460000,1.73;
1098201,19,Sitting,131623411592000,9.080000,-1.380000,1.69;
1098202,19,Sitting,131623491487000,9.000000,-1.460000,1.73;
1098203,19,Sitting,131623531465000,8.880000,-1.330000,1.61;

Warning: total number of rows (1098204) exceeds max_rows (20000). Limiting to first (20000) rows.

In [64]:
dataset.isnull().sum()

user              0
activity          0
timestamp         0
x-acceleration    0
y-accel           0
z-accel           1
dtype: int64

In [76]:
dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098204 entries, 0 to 1098203
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   user            1098204 non-null  int64
 1   activity        1098204 non-null  object
 2   timestamp       1098204 non-null  int64
 3   x-acceleration  1098204 non-null  float64
 4   y-accel         1098204 non-null  float64
 5   z-accel         1098203 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 50.3+ MB

In [77]:
dataset.describe()

               user     timestamp  x-acceleration       y-accel
count  1.098204e+06  1.098204e+06    1.098204e+06  1.098204e+06
mean   1.886066e+01  3.340907e+13    6.628679e-01  7.255639e+00
std    1.021423e+01  4.944967e+13    6.849058e+00  6.746204e+00
min    1.000000e+00  0.000000e+00   -1.961000e+01 -1.961000e+01
25%    1.000000e+01  2.019113e+12   -2.870000e+00  3.170000e+00
50%    1.900000e+01  9.722777e+12    2.700000e-01  7.930000e+00
75%    2.800000e+01  4.996570e+13    4.440000e+00  1.156000e+01
max    3.600000e+01  2.093974e+14    1.995000e+01  2.004000e+01